{% extends 'GMVideothequeBundle::layout.html.twig' %}

{% block app_main_content %}
    <div class="container">
        <h1 class="h1-app">Categorie des films</h1>

        <div class="flex-search-container-data">
            <div class="search-container-data margin-top-m margin-bottom-m">
                    Recherche : <input type="text" class="search-container-data-input" data-search="nom;id" name="search_container_data_categories" id="search_container_data_categories" placeholder="Recherche ...">
            </div>
        </div>

        <table id="categories" class="table table-dark table-bordered table-hover table-sm table-included-paginator">
            <thead>
                <tr class="bg-info" data-entity="categories">
                    <th class="th-sortable" data-sort="nom"><i class="fas fa-sort-up ui-sort"></i>Nom</th>
                </tr>
            </thead>
            <tbody id="categories_tbody">
            {% for categorie in categories %}
                <tr class="gm-clickable-row" data-href="{{ path('categorie_show', { 'id': categorie.id }) }}">
                    <td>{{ categorie.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if paginator is defined %}
            {% include 'paginator/template_paginator_multiple_gm.html.twig' with {'paginator' : paginator["categories"] } only %}
        {% endif %}
        <div class="row margin-top-m">
            <div class="col">
                <a class="text-dark link-button-main create-action" href="{{ path('categorie_new') }}"><i class="fas fa-plus-square"></i> Ajouter une categorie</a>
            </div>
        </div>
        <div class="row margin-top-s">
            <div class="col">
                <a class="text-dark link-button-main delete-action" href="{{ path('categorie_delete_all') }}"><i class="fas fa-trash"></i> Supprimer tous</a>
            </div>
        </div>
    </div>
{% endblock %}