:root {
    --main-bg-color: rgb(15, 13, 12);
    --main-btn-width: 140px;
    --main-btn-height: 40px;
    --main-input-color: #383838;
    --main-input-font-size: 20px;
    --main-color-1: #17a2b8;
    --main-color-2: #96d9e4;/*rgb(45, 166, 223);*//*rgb(54, 166, 218);*/
    --main-color-3: #ababab;
    --main-color-4: #d42626;
    --main-h1-color: #ababab;
    --main-h1-font-size: 21px;
    --main-h2-font-size: 18px;

    --main-text-color: #383838;
}

h1, h2{
    /*
    margin-top : 43px;
    margin-bottom : 43px;
    */
    color: var(--main-h1-color);
}

.h1-app{
    font-size: var(--main-h1-font-size);
}

.h2-app{
    font-size: var(--main-h2-font-size);
}

.h1-app::first-letter {
    /*color: #ff0000;*/
    font-size: xx-large;
}


.h2-app::first-letter {
    /*color: #ff0000;*/
    font-size: 24px;
}


/*##################### Navigation bar  ###########################*/
.navbar-nav li.active{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.navbar-nav li:hover{
    color: #fff;
    background-color: var(--main-color-1);
    transition-duration: 0.3s;
}

.navbar-nav li{
    margin-right: 12px;
}


/*##################### Navigation go back  #######################*/

.back-list-xl{
    background-color: #b5b5b5;/*#389986;*/
    color: white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
}

.back-list-xl:hover{
    text-decoration: none;
    padding: 14px 25px;
    transition-duration: 0.4s;
}


/*##################### FORM : label & input #####################*/
.sub-label-app-sm{
    color: #17a2b8d1; /*#b5b5b5;*/
    font-size: 16px;
    margin-bottom:0px;
}

.label-app-xl{
    color: #17a2b8;
    font-size: 50px;
}

.sub-label-app-xl{
    color: #17a2b8d1; /*#b5b5b5;*/
    font-size: 16px;
}


.input-app{
    border: 0;
    width: 100%;
    outline:none;
    color: var(--main-input-color);
    font-size: var(--main-input-font-size);
    transition-duration: 0.3s;
}

.input-app-border{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.input-app:focus{
    border-color: var(--main-color-2)
}

.text-input-app{
    width: 100%;
    outline:none;
    color: var(--main-input-color);
    /*border-color: rgb(20, 176, 197);*/
    font-size: var(--main-input-font-size);
    transition-duration: 0.05s;
}

.text-input-app-border{
    border-width: 1px;
    
}

.text-input-app:focus{
    border-color: var(--main-color-2)
}

/*##################### LOGIN FORM : label & input ##################*/
.login-form-app{
    background-color: #e6e6e6;
}

.login-form-sm{
    padding: 17px 17px;
}

.form-sm {
    width: 70%;
}


/*##################### Link no decoration ################*/
.link-no-decoration{
    text-decoration: none;
}

.link-no-decoration:hover{
    text-decoration: none;
}


/*##################### Margin :      #####################*/

.full-margin-m{
    margin-top : 60px;
    margin-bottom : 60px;
}

.margin-top-m{
    margin-top : 60px;
}

.margin-top-s{
    margin-top : 30px;
}

.margin-top-xs{
    margin-top : 10px;
}

.margin-bottom-m{
    margin-bottom : 60px;
}

.margin-bottom-xs{
    margin-bottom: 10px;
}


/*##################### Create/Edit action :      ##############*/
.main-default-btn{
    width: var(--main-btn-width);
    height: auto;
}

.link-button-main{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #c7c7c7a3;/*#4e8f99;*//*#17a2b8;*//*#389986;*/
    text-align: center;
    text-decoration: none;
    width: 210px;
    height: 30px;
    padding: 4px;
}

.link-button-main:hover{
    text-decoration: none;
}

.create-action:hover{
    background-color: var(--main-color-1);
    transition-duration: 0.5s;
}

.delete-action:hover{
    background-color: var(--main-color-4);
    transition-duration: 0.5s;
}


/*##################### Paginator :      ###################*/
.paginator-button-main{
    /*
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    */
    background-color: #c7c7c7a3;/*#4e8f99;*//*#17a2b8;*//*#389986;*/
    text-decoration: none;
    width: 100px;
    height: 30px;
    
}

.paginator-button-main:hover{
    background-color: var(--main-color-1);
    text-decoration: none;
}

.paginator-button-main-prev{
    margin-right :28px;
}

.paginator-button-main-next{
    margin-left :0px;
}

.paginator-page{
    width: 100px;/*232px;*/
    text-align: center;
    font-size: 17px;

}

.paginator-page-total{
    color: #6c757d;
    text-align: center;
    /*font-size: 17px;*/
}

.paginator-record-to-read{
    color: #6c757d; /*rgb(131, 129, 129);*/
    text-align: center;
   
    /*line-height: 2.3;*/
}




.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    color:#787777;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .flex-container {   
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-container > div {
        width: 50%;
        
    }
}







/*##################### Others :      #####################*/


.margin-top-bottom-sx{
    margin-top : 10px;
    margin-bottom : 10px;
}

.margin-top-bottom-xm{
    margin-top : 100px;
    margin-bottom : 100px;
}


.date-datepicker-boxsize{
    width: 130px;
    text-align: center;
}

.error-output-app{
    color : rgb(214, 54, 54);
    font-style: italic;
    
}





.safe-margin-action{
    margin-top : 27px;
    margin-bottom : 27px;
}

.footer-text{
    color:#787777;
    font-size: 15px;
}

.gm-border-top{
    border-top-style: solid;
    border-width: 1px;
    border-color: #dee2e670;
}


